@model ICRC.Model.Reciprocities

@{
    ViewBag.Title = "Details";
}


<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8 text-right">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Back" class="btn btn-default custom-button" onclick="gotoPage('@ViewBag.ReturnURL')" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginatingBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrginiatingBoardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedBoardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICRCCertID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificationAcronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.CheckBox("Status",Model.Status??false,new { disabled="disabled" })
            @*@Html.DisplayFor(model => model.Status)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecprocityFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecprocityFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

       
    </dl>
</div>

