@model ICRC.Model.CertifiedPersons

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-6 col-md-offset-6">
        <div class="col-md-8 text-right">
        <input type="text" placeholder="Name" class="form-control pull-right" />
    </div>
    <div class="col-md-4 hidden">
        <button type="submit" class="search">Search<span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-left: 12px;"></span></button>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                   <span class="highlight">text</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Model.Address
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Model.City ,@Model.State @Model.Zip
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Model.Country
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Model.Email
                </div>
            </div>          
            <div class="row">
                <div class="col-md-12">
                    @Model.Phone
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <span>Current board:</span><label>@ViewBag.CurrentBoard</label>
        </div>
   <div class="row">
       <span>Ethical Voilations:</span><input type="checkbox"/>
   </div>
        @Html.HiddenFor(model=>model.ID)
    </div>       
</div>
<div class="row">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="candidateNav">
            <li role="presentation" class="active"><a href="#Scores" aria-controls="Scores" id="tab1" name="SCORES" role="tab" data-toggle="tab">Scores</a></li>
            <li role="presentation"><a href="#Certificates" aria-controls="Certificates" id="tab2" role="tab" name="CERTIFICATIONS" data-toggle="tab">Certificates</a></li>
            <li role="presentation"><a href="#Reciprocity" aria-controls="Reciprocity" id="tab3"role="tab" name="RECIPROCITY" data-toggle="tab">Reciprocity</a></li>
            <li role="presentation"><a href="#EthicalVoilations" aria-controls="EthicalVoilations" id="tab4" role="tab" name="VOILATIONS" data-toggle="tab">Ethical Voilations</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active"  id="Scores">@Html.Action("Scores")</div>
            <div role="tabpanel" class="tab-pane"  id="Certificates"></div>
            <div role="tabpanel" class="tab-pane"  id="Reciprocity"></div>
            <div role="tabpanel" class="tab-pane"  id="EthicalVoilations"></div>
        </div>

    </div>
        @*<div class="row">
        <a href="#" id="scores">Scores</a>|<a href="#" id="Certificates">Certificates</a>|<a href="#" id="Reciprocity">Reciprocity</a>|<a href="#" id="voilation">Ethical Voilations</a>             
        </div>*@
           @*<div class="row" id="ajaxLoad">
                    
            </div>*@
  
</div>

@section scripts{
    
    <script>

        $(document).ready(function () {
            debugger;
            var data = sessionStorage.getItem("selected");
            var id = $('#ID').val();
            if(data!=null)
            {
                $("[name='" + data.toUpperCase() + "']").tab('show');
                selectedTab(data, id);
            }                          
        });

        $(document).on('click', '#candidateNav>li>a', function () {          
            var data = $(this).attr('name');
            console.log(data);
            var id = $('#ID').val();
            selectedTab(data, id);
            
        });

        function selectedTab(data,id)
        {
            if (data.toUpperCase() == "SCORES") {

                sessionStorage.setItem('selected', 'Scores');
                $('#Scores').load('/CertifiedPersons/Scores/' + id);

            }
            else if (data.toUpperCase() == "CERTIFICATIONS") {
                sessionStorage.setItem('selected', 'Certifications');
                $('#Certificates').load('/CertifiedPersons/Certificates/' + id);

            }
            else if (data.toUpperCase() == "RECIPROCITY") {
                sessionStorage.setItem('selected', 'Reciprocity');
                $('#Reciprocity').load('/CertifiedPersons/Reciprocities/' + id);
            }
            else if (data.toUpperCase() == "VOILATIONS") {
                sessionStorage.setItem('selected', 'Voilations');
                $('#EthicalVoilations').load('/CertifiedPersons/EthicalVoilations/' + id);
            }
        }

    </script>
            
}

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
