@model ICRC.Model.Certifications

@{
    ViewBag.Title = "Details";
}


<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8 text-right">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Back" class="btn btn-default custom-button" onclick="gotoPage('@ViewBag.ReturnURL')" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CertID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateAcronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certificateNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certificateNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueBoardAcronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardCertificateNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardCertificateNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardCertificateAcronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardCertificateAcronymName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertIssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertIssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertRequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertRequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertRequestFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertRequestFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @if (Model.PaymentType == 1)
            {
                <span>Credit Card</span>                
            }
            else if (Model.PaymentType == 2)
            {
                <span>Money Order</span>                
            }
            else
            {
                <span>Check</span>                
            }
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddToPrintQueues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddToPrintQueues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

       

    </dl>
</div>

